<h2 class="page-header">Ticket Create</h2>

<div *ngIf="users$ | async as users; else loading">
    <form [formGroup]="form">
        <mat-form-field>
            <input matInput formControlName="description" placeholder="Description">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Assignee</mat-label>
            <mat-select formControlName="assigneeId">
                <mat-option *ngFor="let user of users" [value]="user.id">
                    {{user.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-checkbox formControlName="completed">Completed</mat-checkbox>
    </form>
    <button mat-raised-button [disabled]="!form.valid" color="primary" (click)="create()">
        Create
    </button>
    <button mat-button color="primary" [routerLink]="['/tickets']">
        Cancel
    </button>
</div>

<ng-template #loading>
    <mat-spinner diameter=25></mat-spinner>
</ng-template>
